{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{f:count(subject: field.modifiedSettings)} > 1">
    <f:comment><!-- Multi-checkboxes with fieldset and legend --></f:comment>
    <f:then>
        <fieldset class="{settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_{field.marker}{f:if(condition: '{field.css}', then: ' {field.css} ')}">
            <f:comment><!-- Legend --></f:comment>
            <f:render partial="Form/Fieldset/Legend" arguments="{field: field, settings: settings}"/>
            <f:comment><!-- Error container --></f:comment>
            <f:render partial="Form/FieldError" arguments="{_all}" />
            <f:comment><!-- Input element --></f:comment>
            <f:render section="Checkbox" arguments="{_all}" />
        </fieldset>
    </f:then>

    <f:comment><!-- Single checkbox --></f:comment>
    <f:else>
        <div class="{settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_{field.marker}{f:if(condition: '{field.css}', then: ' {field.css} ')}">
            <f:comment><!-- Error container --></f:comment>
            <f:render partial="Form/FieldError" arguments="{_all}" />
            <f:comment><!-- Input element --></f:comment>
            <f:render section="Checkbox" arguments="{_all}" />
        </div>
    </f:else>
</f:if>

<f:comment><!-- Custom checkbox element --></f:comment>
<f:section name="Checkbox">
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <f:for each="{field.modifiedSettings}" as="setting" iteration="index">
            <f:comment><!-- Custom checkbox by Sara Soueidan @see https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/ --></f:comment>
            <label class="{settings.styles.framework.checkClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
                   for="{formId}-powermail-field-{field.marker}-{index.cycle}">

                <f:if condition="{f:count(subject: field.modifiedSettings)} > 1">
                    <f:comment><!-- Multiple checkboxes --></f:comment>
                    <f:then>
                        <f:comment><!-- Semantic checkbox which is visually hidden --></f:comment>
                        <f:comment><!-- Due to HTML spec only first radio button in a group should get validation attributes --></f:comment>
                        <f:if condition="{index.isFirst}">
                            <f:then>
                                <f:form.checkbox
                                        property="{field.marker}"
                                        multiple="true"
                                        value="{setting.value}"
                                        checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
                                        id="{formId}-powermail-field-{field.marker}-{index.cycle}"
                                        additionalAttributes="{twforms:validation.validationDataAttribute(field:field, iteration:index)}"
                                        aria="{'errormessage': 'error-for-powermail-field-{formId}-{field.marker}', 'describedby': 'error-for-powermail-field-{formId}-{field.marker} desc-for-powermail-field-{formId}-{field.marker}'}"
                                        class="powermail_checkbox powermail_checkbox_{field.uid} FormField__input FormField__group-element"/>
                            </f:then>
                            <f:else>
                                <f:form.checkbox
                                        property="{field.marker}"
                                        multiple="true"
                                        value="{setting.value}"
                                        checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
                                        id="{formId}-powermail-field-{field.marker}-{index.cycle}"
                                        class="powermail_checkbox powermail_checkbox_{field.uid} FormField__input FormField__group-element"/>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:comment><!-- Single checkbox --></f:comment>
                        <f:form.checkbox
                                property="{field.marker}"
                                value="{setting.value}"
                                checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
                                id="{formId}-powermail-field-{field.marker}-{index.cycle}"
                                additionalAttributes="{twforms:validation.validationDataAttribute(field:field, iteration:index)}"
                                aria="{'errormessage': 'error-for-powermail-field-{formId}-{field.marker}', 'describedby': 'error-for-powermail-field-{formId}-{field.marker} desc-for-powermail-field-{formId}-{field.marker}'}"
                                class="powermail_checkbox powermail_checkbox_{field.uid} FormField__input" />
                    </f:else>
                </f:if>

                <f:comment><!-- Visual replacement of the radio button via SVG --></f:comment>
                <svg class="Icon" width="24" height="24" aria-hidden="true" focusable="false">
                    <use href="#checkmark"></use>
                </svg>

                <f:comment><!-- Label --></f:comment>
                <span class="FormField__label-wrap">
                    <vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
                    <f:comment><!-- Add a hint if the field is mandatory --></f:comment>
                    <f:if condition="{field.mandatory} && {f:count(subject: field.modifiedSettings)} == 1">
                        {f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang.xlf:form.required')}
                    </f:if>
                </span>
            </label>
        </f:for>

        <f:comment><!-- Description --></f:comment>
        <f:if condition="{field.description}">
          <f:render partial="Form/FieldDescription" arguments="{_all}" />
        </f:if>
    </div>
</f:section>
