{namespace vh=In2code\Powermail\ViewHelpers}

<fieldset class="{settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_radio powermail_fieldwrap_{field.marker}{f:if(condition: '{field.css}', then: ' {field.css} ')}">
  <f:comment><!-- A11y: Every <fieldset> needs an accessible name (i.e., via <legend>) --></f:comment>
  <f:render partial="Form/Fieldset/Legend"
            arguments="{field: field, settings: settings}"/>

  <f:comment><!-- Error container --></f:comment>
  <f:render partial="Form/FieldError" arguments="{_all}" />

  <div class="{settings.styles.framework.fieldWrappingClasses}">
    <f:for each="{field.modifiedSettings}" as="setting" iteration="index">
      <label class="{settings.styles.framework.radioClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
             for="{formId}-powermail-field-{field.marker}-{index.cycle}">

          <f:comment><!-- Due to HTML spec only first radio button in a group should get validation attributes --></f:comment>
          <f:if condition="{index.isFirst}">
            <f:then>
                <f:comment><!-- Semantic radio button which is visually hidden --></f:comment>
                <f:form.radio
                        property="{field.marker}"
                        value="{setting.value}"
                        checked="{vh:misc.prefillMultiField(field: field, mail: mail, cycle: index.cycle)}"
                        id="{formId}-powermail-field-{field.marker}-{index.cycle}"
                        class="powermail_radio FormField__input FormField__group-element"
                        name="tx_powermail_pi1[field][{field.marker}]"
                        additionalAttributes="{twforms:validation.validationDataAttribute(field:field, iteration:index)}"
                        aria="{'errormessage': 'error-for-powermail-field-{formId}-{field.marker}', 'describedby': 'error-for-powermail-field-{formId}-{field.marker} desc-for-powermail-field-{formId}-{field.marker}'}"
                        data-title="{field.title}">
              </f:form.radio>
            </f:then>
            <f:else>
                <f:form.radio
                        property="{field.marker}"
                        value="{setting.value}"
                        checked="{vh:misc.prefillMultiField(field: field, mail: mail, cycle: index.cycle)}"
                        id="{formId}-powermail-field-{field.marker}-{index.cycle}"
                        class="powermail_radio FormField__input FormField__group-element"
                        name="tx_powermail_pi1[field][{field.marker}]">
              </f:form.radio>
            </f:else>
          </f:if>

          <f:comment><!-- Visual replacement of the radio button via SVG --></f:comment>
          <svg class="Icon" width="24" height="24" aria-hidden="true" focusable="false">
              <use href="#circle"></use>
          </svg>

          <f:comment><!-- The radio button label text --></f:comment>
          <span class="PowermailRadio__text">
            <vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
          </span>
      </label>
    </f:for>

    <f:if condition="{field.description}">
      <f:render partial="Form/FieldDescription" arguments="{_all}" />
    </f:if>
  </div>
</fieldset>
