<f:comment><!--

    Render a form field including label, error message and an optional description

    @param GenericFormElement element           Form element
    @param string elementContent                Element content (HTML)
    @param string classes                       Addition CSS classes
    @param array data                           Data attributes

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:twforms="http://typo3.org/ns/Tollwerk/TwForms/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:variable name="label" value="{formvh:translateElementProperty(element: element, property: 'label')}"/>
    <f:variable name="labelClasses"
                value="{element.properties.containerClassAttribute}{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}"/>

    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.renderingOptions.dontWrap}">
            <f:then>
                <f:render section="LabelAndField" arguments="{
                        element: element,
                        elementContent: elementContent,
                        labelClasses: labelClasses,
                        label: label,
                        validationResults: validationResults
                    }"/>
            </f:then>
            <f:else>
                <div class="Form__field FormField FormField--{element.type -> f:format.case(mode: 'lower')}{f:if(condition: validationResults.errors, then: ' FormField--has-error')}"{twforms:attributes.data(attributes: data)}>
                    <f:render section="LabelAndField" arguments="{
                        element: element,
                        elementContent: elementContent,
                        labelClasses: labelClasses,
                        label: label,
                        validationResults: validationResults
                     }"/>
                </div>
            </f:else>
        </f:if>
    </f:form.validationResults>

    <f:comment><!--

        Render a form field including label, error message and an optional description

        @param GenericFormElement element           Form element
        @param string elementContent                Element content (HTML)
        @param string labelClasses                  Label CSS classes
        @param string label                         Label text
        @param int validationResults                Validation results

    --></f:comment>
    <f:section name="LabelAndField">
        <f:if condition="{label}">
            <f:comment><!-- Render fieldset with legend for radio buttons and multi checkboxes --></f:comment>
            <f:if condition="{element.type} == 'RadioButton' || {element.type} == 'MultiCheckbox'">
                <f:then>
                    <f:variable name="labelContent">
                        <f:format.raw>{label}</f:format.raw>
                        <f:if condition="{element.required} || ({element.renderingOptions.hideOptionalLabel} == 1)">
                            <f:else>
                                <f:render partial="Field/Optional" arguments="{element: element}"/>
                            </f:else>
                        </f:if>
                    </f:variable>
                    <fieldset class="FormField__group">
                        <legend class="FormField__label FormField__label--group {labelClasses}">{labelContent
                            -> f:format.raw()}
                            <f:if condition="{element.required}">
                                <f:render partial="Field/Required"/>
                            </f:if>
                        </legend>
                        <f:render section="Field"
                                  arguments="{element: element, elementContent: elementContent, validationResults: validationResults}"/>
                    </fieldset>
                </f:then>
                <f:else>
                    <f:variable name="labelContent">
                        <f:format.raw>{label}</f:format.raw>
                        <f:if condition="{element.required} || ({element.renderingOptions.hideOptionalLabel} == 1)">
                            <f:else>
                                <f:render partial="Field/Optional" arguments="{element: element}"/>
                            </f:else>
                        </f:if>
                    </f:variable>
                    <f:if condition="{element.type} != 'Checkbox'">
                        <label for="{element.uniqueIdentifier}"
                               class="FormField__label FormField__label--{element.type -> f:format.case(mode: 'lower')} {labelClasses}">{labelContent
                            -> f:format.raw()}
                            <f:if condition="{element.required}">
                                <f:render partial="Field/Required"/>
                            </f:if>
                        </label>
                    </f:if>
                    <f:render section="Field"
                              arguments="{element: element, elementContent: elementContent, validationResults: validationResults}"/>
                </f:else>
            </f:if>
        </f:if>
    </f:section>

    <f:comment><!--

        Render a form field error message and an optional description

        @param GenericFormElement element           Form element
        @param string elementContent                Element content (HTML)
        @param int validationResults                Validation results

    --></f:comment>
    <f:section name="Field">
        <f:render partial="Field/Error" arguments="{element: element, validationResults: validationResults}"/>
        <f:format.raw>{elementContent}</f:format.raw>
        <f:if condition="{element.properties.elementDescription}">
            <f:render section="Description" contentAs="content" arguments="{
                    element: element,
                    label: element.properties.elementDescription}">
                <f:variable name="description"
                            value="{twforms:content.get(contentUids: '{0: element.properties.elementDescription}')}"/>
                {description.0.bodytext -> f:format.raw()}
            </f:render>
        </f:if>
    </f:section>

    <f:comment><!--

        Render a form field error message and an optional description

        @param GenericFormElement element           Form element
        @param string content                       Content element description
        @param string label                         Label

    --></f:comment>
    <f:section name="Description">
        <f:if condition="{content -> twforms:format.trim()}">
            <f:then>
                <div id="{element.rootForm.identifier}-{element.identifier}-desc" class="FormField__description">
                    {content -> f:format.raw()}
                </div>
            </f:then>
            <f:else if="{label -> twforms:format.trim()}">
                <p id="{element.rootForm.identifier}-{element.identifier}-desc" class="FormField__description">
                    {label -> f:format.raw()}
                </p>
            </f:else>
        </f:if>
    </f:section>
</html>
