{namespace vh=In2code\Powermail\ViewHelpers}

<f:variable name="noLabel" value="0" />
<f:if condition="{field.css} == 'nolabel'">
    <f:variable name="noLabel" value="1" />
</f:if>

<f:comment><-- Make sure label is at least in DOM present --></f:comment>
<label for="{formId}-powermail-field-{field.marker}"
       class="{settings.styles.framework.labelClasses}{f:if(condition: '{noLabel}', then: ' hide-element')}">
    <f:comment><!-- Label text --></f:comment>
    <vh:string.escapeLabels>{field.title}</vh:string.escapeLabels>
    <f:comment><!-- Add a hint if the field is mandatory --></f:comment>
    <f:if condition="{field.mandatory}">
        ({f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Powermail/Language/locallang_powermail.xlf:powermail.label.required')})
    </f:if>
</label>
