{namespace f=TYPO3\CMS\Fluid\ViewHelpers}

<f:form.validationResults>
  <p class="Powermail__error" id="error-for-powermail-field-{formId}-{field.marker}">
    <svg width="24" height="24" class="Powermail__error-icon" aria-hidden="true" focusable="false">
      <use href="#warning-sign"></use>
    </svg>
    <f:if condition="{validationResults.flattenedErrors}">
      <f:for each="{validationResults.flattenedErrors.mail}" as="error">
        <f:if condition="{field.marker} == {error.arguments.marker}">
            <f:translate key="validationerror_{error.message}">
              {error.message}
            </f:translate>
        </f:if>
      </f:for>
    </f:if>
  </p>
</f:form.validationResults>
