{namespace vh=In2code\Powermail\ViewHelpers}

<f:layout name="Default" />

Render Powermail Form
{form}          All Forms with their Pages and their Fields
{ttContentData} All values from content element with plugin

<f:section name="main">
    <f:alias map="{flashMessageClass:'powermail_message_error'}">
        <f:render partial="Misc/FlashMessages" arguments="{_all}" />
    </f:alias>

    <f:comment><!-- Only render if a form is present --></f:comment>
    <f:if condition="{form}">
        <f:then>
            <f:comment><!-- Give id to form in case several are present on one site --></f:comment>
            <f:variable name="formId">powermail-form-{form.uid}</f:variable>

            <div class="Powermail">
                <f:form action="{action}"
                        section="c{ttContentData.uid}"
                        name="field"
                        enctype="multipart/form-data"
                        addQueryString="{settings.misc.addQueryString}"
                        additionalAttributes="{aria-labelledby: '{formId}-heading'}"
                        class="{settings.styles.framework.formClasses} powermail_form powermail_form_{form.uid}{f:if(condition: '{form.css}', then: ' {form.css}')} {vh:misc.morestepClass(activate:settings.main.moresteps)}">

                    <f:comment><!-- Render a form heading if Backend doesn't say 'noLabel' --></f:comment>
                    <h2 class="{f:if(condition: '{form.css} == \'nolabel\'', then: 'hide-element')}"
                        id="{formId}-heading">
                        {form.title}
                    </h2>

                    <f:comment><!-- Render button list for multistep forms --></f:comment>
                    <f:if condition="{form.pages -> f:count()} > 1">
                        <f:render partial="Form/Navigation/Progress" arguments="{_all}"/>
                    </f:if>

                    <f:comment><!-- Render form errors for client- and serverside validation --></f:comment>
                    <f:render partial="Misc/FormError" arguments="{_all}"/>

                    <f:for each="{form.pages}" as="page" iteration="iterationPages">
                        <f:render partial="Form/Page" arguments="{_all}"/>
                    </f:for>

                    <f:form.hidden name="mail[form]"
                                   value="{form.uid}"
                                   class="powermail_form_uid"
                                   respectSubmittedDataValue="false"/>

                    <f:render partial="Misc/HoneyPod" arguments="{form:form}"/>
                </f:form>

                <svg xmlns="http://www.w3.org/2000/svg"
             display="none">
            <symbol id="warning-sign"
                    viewBox="0 0 50 50">
                <path fill="#ad0c01"
                      d="M21.9-.1C9.7-.1-.1 9.8-.1 22S9.8 44.1 22 44.1 44 34.2 44 22C44 9.8 34.1-.1 21.9-.1zM24.1 33h-4.4v-4.4h4.4V33zm0-8.8h-4.4V11h4.4v13.2z"/>
            </symbol>
            <symbol id="checkmark"
                    viewBox="0 0 26.512 23.211">
                <path fill="000000"
                      d="M9.131 23.206L0 13.888l2.857-2.8 6.05 6.174L23.452-.006l3.06 2.576z"/>
            </symbol>
            <symbol id="circle"
                    viewBox="0 0 80 80">
                <circle fill="000000"
                        cx="40" cy="40" r="40"/>
            </symbol>
        </svg>
            </div>
        </f:then>
        <f:else>
            <f:translate key="error_no_form" />
        </f:else>
    </f:if>
</f:section>
