/* TODO: Migrate */

.FormField__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.FormField__legend {
    display: none;
}

.Form__field ~ .Form__field {
    margin-top: var(--spacing--giga);
}

.FormField__label {
    display: block;
    font-weight: var(--font-weight--bold);
    color: var(--color-grey-ultra-dark);
    margin-bottom: var(--spacing--nano);
}

.FormPhone,
.FormEmail,
.FormTextarea,
.FormText  {
    padding: var(--spacing--uno) var(--spacing--micro);
    border: 1px solid var(--color-grey-ultra-dark);
    width: 100%;
    font-weight: var(--font-weight--bold);

    &::placeholder {
        color: var(--color-grey-ultra-dark);
    }


    &:focus {
        color: var(--color-black);
        outline: 1px solid var(--color-blue-light);
        border-color: var(--color-blue-light);
    }
}

.FormSelect__select {
    width: 100%;
    padding: var(--spacing--uno) var(--spacing--micro);
    appearance: none;
    font-weight: var(--font-weight--bold);
    color: var(--color-grey-ultra-dark);
}

.FormSelect__wrapper {
    position: relative;
    & .FormSelect__arrow {
        content: '';
        width: 1.5rem;
        height: 1rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    & .FormSelect__select:focus + .FormSelect__arrow {
        transform: rotate(180deg) translateY(50%);
    }
}

.FormField__textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    font-size: var(--font-size--kilo);
    padding: var(--spacing--uno) var(--spacing--micro);
}


.Form__navigation .CallToAction {
    width: 100%;
    margin-top: var(--spacing--tera);
}

.clearfix .Heading.Heading--small {
    font-size: var(--font-size--uno);
    margin-top: var(--spacing--tera);
}

.Form__error-summary {
    display: none;
}

@media(--bp-medium--min) {
    .Form__field ~ .Form__field {
        margin-top: var(--spacing--tera);
    }
    .FormField__label {
        margin-bottom: var(--spacing--milli);
    }

    .FormField__input,
    .FormSelect__select,
    .FormField__textarea {
        font-size: var(--font-size--mega);
        padding: var(--spacing--kilo) var(--spacing--giga);
    }

    .FormField__submit {
        width: auto;
        padding: 1.125rem 9rem;
    }

    .FormField__textarea {
        height: 15rem;
    }

    .Form__navigation .CallToAction {
        max-width: 23.5rem;
        margin-top: var(--spacing--peta);
    }
}

@media(--bp-large--min) {
    .FormCheckbox.form-check-label {
        align-items: center;
    }
}
