<f:comment><!--

    @param string type          Button type (defaults to "button")
    @param string name          Button name
    @param string property      Button property
    @param string text          Button text (required)
    @param string value         Button value (required)
    @param string classes       Additional CSS classes
    @param string style         Button style (defaults to "default")
    @param string theme         Button theme (defaults to "default")
    @param boolean novalidate   Disable form validation

--></f:comment>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:variable name="btnType"
                value="{f:if(condition: '{type}', then: '{type}', else: 'button')}"/>
    <f:if condition="{novalidate}">
        <f:then>
            <f:form.button name="{name}" value="{value}" property="{property}" type="{btnType}"
                           class="Form__button"
                           formnovalidate="formnovalidate">
                {text -> f:format.raw()}
            </f:form.button>
        </f:then>
        <f:else>
            <f:form.button name="{name}" value="{value}" property="{property}" type="{btnType}"
                           class="Form__button">
                {text -> f:format.raw()}
            </f:form.button>
        </f:else>
    </f:if>
</html>
