<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <div class="Form__field FormField FormField--{element.type -> f:format.case(mode: 'lower')}">
        <fieldset id="{element.uniqueIdentifier}"
                  class="FormFieldset{f:if(condition: element.properties.elementClassAttribute, then: ' {element.properties.elementClassAttribute}')}">
            <f:if condition="{element.label}">
                <legend class="FormFieldset__legend">
                    <f:if condition="{isMultiStep}">
                        <f:then>
                            <h4>{formvh:translateElementProperty(element: element, property: 'label')}</h4>
                        </f:then>
                        <f:else>
                            <h3>{formvh:translateElementProperty(element: element, property: 'label')}</h3>
                        </f:else>
                    </f:if>
                </legend>
            </f:if>
            <f:for each="{element.elements}" as="element">
                <f:render partial="{element.templateName}" arguments="{element: element}" />
            </f:for>
        </fieldset>
    </div>
</formvh:renderRenderable>
</html>
