<f:comment><!--

    Render a form page

	@param FormRuntime form         Form
    @param Page page         		Current page

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      xmlns:twforms="http://typo3.org/ns/Tollwerk/TwForms/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <formvh:renderRenderable renderable="{page}">
        <f:if condition="{page.parentRenderable.renderingOptions.enableStatusDisplay}">
            <f:render partial="Form/Status" arguments="{form: form, page: page}"/>
        </f:if>

        <f:if condition="{form}">
            <f:render partial="Form/Validation" arguments="{form: form}"/>
        </f:if>

        <f:if condition="{page.elements}">
            <f:comment><!-- Multistep form --></f:comment>
            <f:if condition="{page.rootForm.pages -> f:count()} > 1">
                <f:then>
                    <f:variable name="isMultiStep" value="true" />
                    <f:variable name="pageNumber" value="{page.index + 1}" />
                    <fieldset class="FormPage">
                        <legend class="FormPage__legend"
                                id="{form.identifier}-{page.identifier}">
                            <f:if condition="{page.label} != ''">
                                <f:then>
                                    <h3>{formvh:translateElementProperty(element: page, property: 'label')}</h3>
                                </f:then>
                                <f:else>
                                    <h3 class="hide-element">{f:translate(key: 'form.page', extensionName: 'TwForms', arguments: '{0: pageNumber}')}</h3>
                                </f:else>
                            </f:if>
                        </legend>
                        <f:for each="{page.elements}" as="element">
                            <f:render partial="{element.templateName}"
                                      arguments="{element: element, isMultiStep: isMultiStep}"/>
                        </f:for>
                    </fieldset>
                </f:then>
                <f:else>
                    <div class="FormPage">
                        <f:for each="{page.elements}" as="element">
                            <f:render partial="{element.templateName}"
                                      arguments="{element: element}"/>
                        </f:for>
                    </div>
                </f:else>
            </f:if>
        </f:if>
    </formvh:renderRenderable>
</html>
