<f:comment><!--

    @param GenericFormElement element          Form element

--></f:comment>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{element}">
        <f:form.validationResults for="{element.identifier}">
            <f:render partial="Field/Field" arguments="{
                    element: element,
                    validationResults: validationResults,
                    doNotShowLabel: 0
                }" contentAs="elementContent">
                <f:for each="{element.properties.options}" as="label" key="value" iteration="idIterator">
                    <f:variable name="additionalAttributes"
                                value="{twforms:form.field.additionalAttributes(element: element, validationResults: validationResults)}"/>
                    <f:if condition="{idIterator.index}">
                        <f:variable name="additionalAttributes" value="{}"/>
                    </f:if>
                    <div class="FormField__wrapper">
                        <f:form.radio
                                property="{element.identifier}"
                                id="{element.uniqueIdentifier}-{idIterator.index}"
                                class="{element.properties.elementClassAttribute}"
                                value="{value}"
                                errorClass="{element.properties.elementErrorClassAttribute}"
                                additionalAttributes="{additionalAttributes}"
                        />
                        <label for="{element.uniqueIdentifier}-{idIterator.index}"
                               class="FormField__label FormField__label--{element.type -> f:format.case(mode: 'lower')}">
                            <f:render section="InlineLabel" contentAs="label">
                                {formvh:translateElementProperty(element: element, property: '{0: \'options\', 1: value}')}
                            </f:render>
                        </label>
                    </div>
                </f:for>
            </f:render>
        </f:form.validationResults>
    </formvh:renderRenderable>

    <f:comment><!--

    Render an inline label

    @param string label         Label text

    --></f:comment>
    <f:section name="InlineLabel">
        <f:if condition="{label -> f:format.trim()}">
            <span class="FormField__label-wrap">{label -> f:format.trim() -> f:format.raw()}</span>
        </f:if>
    </f:section>
</html>
