{namespace vh=In2code\Powermail\ViewHelpers}
{namespace twforms=Tollwerk\TwForms\ViewHelpers}

<f:form.validationResults>
  <f:variable
    name="pattern"
    value="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.title.errors')}"
  />
  <f:variable
    name="count"
    value="{f:count(subject: validationResults.flattenedErrors.mail)}"
  />
  <f:variable
    name="title"
    value="{twforms:form.title(form: form, pattern: pattern, errors: count)}"
  />

  <nav
    class="Form__error-navigation powermail_message powermail_message_error"
    aria-label="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.nav.errors')}"
    tabindex="-1"
    {f:if(condition: '{count} == 0', then: 'hidden', else: '')}
    data-title="{title.default}"
    data-title-errors="{title.pattern}"
  >
    <f:variable name="headingKeySingle"
                value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.error"/>
    <f:variable name="headingKeyMultiple"
                value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.errors"/>
    <f:variable name="headingContent"
                value="{f:if(condition: '{count} == 1', then: '{f:translate(key: headingKeySingle)}', else: '{f:translate(key: headingKeyMultiple, arguments: \'{0: count}\')}')}"/>
    <h2 class="Heading"
        id="{formId}-errors"
        data-heading-single="{f:translate(key: headingKeySingle)}"
        data-heading-multiple="{f:translate(key: headingKeyMultiple)}">
      {headingContent}
    </h2>

    <ol class="Form__error-summary">
      <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors">
          <f:for each="{errors}" as="singleError">
            <li class="Form__error-description">
              <f:if condition="{singleError.message} == 'spam_details'">
                <f:then>
                  <f:translate key="validationerror_spam" />
                  {singleError.arguments.spamfactor}

                  <f:translate key="validationerror_{singleError.message}"
                    >{singleError.message}</f:translate
                  >
                </f:then>
                <f:else>
                  <f:if condition="{singleError.arguments.marker}">
                    <f:if condition="{vh:getter.getFieldPropertyFromMarkerAndForm(marker: singleError.arguments.marker, form: form, property: 'type')} == 'check'
                                            || {vh:getter.getFieldPropertyFromMarkerAndForm(marker: singleError.arguments.marker, form: form, property: 'type')} == 'radio'"
                    >
                      <f:then>
                        <a href="#powermail_field_{singleError.arguments.marker}_1"
                           class="Form__error-link">
                          <vh:getter.getFieldPropertyFromMarkerAndForm marker="{singleError.arguments.marker}"
                                                                       form="{form}"
                                                                       property="title"/>:
                          <f:translate key="validationerror_{singleError.message}">
                            {singleError.message}
                          </f:translate>
                        </a>
                      </f:then>
                      <f:else>
                        <a href="#powermail_field_{singleError.arguments.marker}"
                           class="Form__error-link">
                          <vh:getter.getFieldPropertyFromMarkerAndForm marker="{singleError.arguments.marker}"
                                                                       form="{form}"
                                                                       property="title"/>:
                          <f:translate key="validationerror_{singleError.message}">
                            {singleError.message}
                          </f:translate>
                        </a>
                      </f:else>
                    </f:if>
                  </f:if>
                </f:else>
              </f:if>
            </li>
          </f:for>
        </f:for>
      </f:if>
    </ol>
  </nav>
</f:form.validationResults>
