{namespace vh=In2code\Powermail\ViewHelpers}
{namespace twforms=Tollwerk\TwForms\ViewHelpers}

<f:variable name="pattern"
            value="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.title.errors')}"/>
<f:variable name="count" value="{f:count(subject: validationResults.flattenedErrors)}"/>
<f:variable name="title" value="{twforms:form.title(form: form, pattern: pattern, errors: count)}"/>

<nav class="Form__error-navigation powermail_message powermail_message_error"
     aria-label="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.nav.errors')}"
     tabindex="-1"
     hidden
     data-title="{title.default}"
     data-title-errors="{title.pattern}">
    <f:variable name="headingKeySingle"
                value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.error"/>
    <f:variable name="headingKeyMultiple"
                value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.errors"/>
    <f:variable name="headingContent"
                value="{f:if(condition: '{count} == 1', then: '{f:translate(key: headingKeySingle)}', else: '{f:translate(key: headingKeyMultiple, arguments: \'{0: count}\')}')}"/>

    <h2 class="Heading"
        id="{formId}-errors"
        data-heading-single="{f:translate(key: headingKeySingle)}"
        data-heading-multiple="{f:translate(key: headingKeyMultiple)}">
        {headingContent}
    </h2>
    <ol class="Form__error-summary">
        <f:for each="{validationResults.flattenedErrors}"
               as="propertyErrors"
               key="elementIdentifier">
            <f:variable name="element"
                        value="{twforms:form.element(form: form, element: elementIdentifier)}"/>
            <li class="Form__error-description">
                <a href="#{element.uniqueIdentifier}"
                   class="Form__error-link">
                    <f:for each="{twforms:form.constraints(errors: propertyErrors, validationErrorMessages: element.properties.validationErrorMessages)}" as="constraint"
                           iteration="iter">
                        <f:if condition="{iter.isFirst}">
                            <f:else>;</f:else>
                        </f:if>
                        {formvh:translateElementError(element: element, error: constraint)}
                    </f:for>
                </a>
            </li>
        </f:for>
    </ol>
</nav>

