/* ==========================================================================
   Basic CSS for extension twforms
   ========================================================================== */

/* Resets
   ========================================================================== */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

fieldset {
	padding: 0;
	border: none;
	margin: 0;
}

/* Reset for gray background in Firefox */
select {
	background-color: #ffffff;
}

/* SR-only class */
.hide-element {
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
}

/* Remove list styles */
.informal {
	/* @see https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
	list-style-type: none;
	/*list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");*/
	margin: 0;
	padding: 0;

	& li::before {
		content: "\200B"; /* add zero-width space */
		position: absolute;
	}
}

/* Variables
   ========================================================================== */

.Form.Form--custom-validation {
	--color-highlight: #000000;
	--color-error: #ad0c01;
	--color-error-dark: #a31b1a;
}

/* Element styling
   ========================================================================== */

/* Form element in powermail multi page setup has tabindex="-1" to announce its name when a new page is navigated to via JavaScript but we don't want to see the focus */
.Form:focus {
	outline: none;
}

/* Lobotomized owl selector doesn't work in this setup due to DOM manipulations */
.FormPage {
	& .FormField {
		margin-top: 1em;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.FormPage__legend,
.FormFieldset__legend {
	padding: 0;
	margin-bottom: 1em;

	font-weight: bold;
	font-size: 1.5rem;

	& h3, h4 {
		margin: 0;
	}

	& + .FormField {
		margin-top: 0;
	}
}

.FormField__label {
	display: block;
	margin-bottom: .5em;

	font-size: 1.25rem;
	font-weight: 600;
}

.FormField__input, .FormField__textarea {
	display: block;
	width: 100%;
	padding: .5em;
	border: 2px solid black;

	&:focus {
		outline: 2px solid var(--color-highlight);
		outline-offset: 2px;
	}
}

.FormField__description {
	margin-block: .5em 0;

	& p {
		margin: 0;
	}
}

.Form__button-wrapper {
	display: flex;
	gap: 1em;
	margin-top: 1em;
}

.Form__button {
	display: block;
	padding: .5em 1em;
	border: 2px solid black;

	background: white;

	cursor: pointer;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	&:focus {
		outline: 2px solid var(--color-highlight);
		outline-offset: 2px;
	}
}

/* Summary / confirmation styling
   ========================================================================== */

.Form__summary-list {
	margin: 0;

	& dt {
		font-weight: 700;
	}

	& dd + dt {
		margin-top: 1rem;
	}

	& .btn-group {
		display: flex;
		gap: 1rem;
	}
}

@media screen and (min-width: 992px) {
	.Form__summary-list {
		& dd + dt {
			margin-top: 0;
		}

		& dt, dd {
			padding: .5em;
		}

		& dt {
			border-left: 1px solid black;
			border-right: 1px solid black;
		}

		& dd {
			border-right: 1px solid black;
			margin-left: 0;
		}
	}

	.Form__summary-list-item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: stretch;

		&:nth-child(even) {
			background-color: #f2f2f2;
		}

		border-top: 1px solid black;

		&:last-of-type {
			border-bottom: 1px solid black;
		}
	}
}

/* Checkboxes and radio buttons
   ========================================================================== */

/**
 * Custom checkboxes and radio buttons
 * @see https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
 */

.CustomInput {
	/* create a positioning context for the input within the label */
	position: relative;

	display: flex;
	align-items: center;
	gap: .75em;

	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;

	cursor: pointer;

	& + .CustomInput {
		margin-top: .25rem;
	}
}

.CustomInput .FormField__input {
	/* remove the checkbox from flow */
	position: absolute;

	/* hide it visually */
	opacity: 0;

	/* tweak size and position if needed */
	width: 1.125rem;
	height: 1.125rem;
}

.CustomInput .Icon {
	flex-shrink: 0;

	width: 1.125rem;
	height: 1.125rem;
	padding: 1.5px;
	border: 2px solid var(--color-highlight);

	color: transparent;
	fill: currentColor;
}

.CustomInput.CustomInput--radio .Icon {
	border-radius: 50%;
}

.CustomInput .FormField__input:checked + .Icon {
	color: var(--color-highlight);
}

.CustomInput .FormField__input:focus + .Icon {
	outline: 2px solid var(--color-highlight);
	outline-offset: 2px;
}

/* Support window high contrast mode */
@media screen and (forced-colors: active) {
	.CustomInput .Icon {
		border: 2px solid windowText;
	}

	.CustomInput .FormField__input:focus + .Icon {
		color: windowText;
	}
}

/* Error styling
   ========================================================================== */

.Form__error {
	display: block;

	padding-left: 2rem;
	margin-block: 0 .5em;

	background: 0 url(../Graphics/Warning.svg) no-repeat;
	background-size: 1em;
	color: #c92228;

	font-weight: 700;

	&[hidden] {
		display: none;
		margin: 0;
	}
}

.Form__error-navigation {
	padding: 1.5rem;
	border: 5px solid var(--color-error-dark);

	&.Form__error-navigation--visible {
		margin-bottom: 1rem;
	}
}

.Form__error-heading {
	padding-left: 2.5em;
	margin: 0;

	background: url(../Graphics/Warning.svg) 0 0 no-repeat;
	background-size: 2em;
	color: var(--color-error);

	-ms-hyphens: auto;
	hyphens: auto;
}

.FormField--has-error {
	& .FormField__input, & .FormField__textarea, & .CustomInput .Icon {
		border: 3px solid var(--color-error);
		box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-error);
	}
}

/* Progress styling for multistep form
   ========================================================================== */

/* Variables for colors that can be overwritten in custom setup */
.Progress {
	--color-progress: #08128b;
	--color-progress--inactive: #a5a5a5;
}

.Progress__list {
	padding-left: 3.45rem;
	margin: 0;
}

/* Last item should not have a border since no other element is following up */
.Progress__item:last-child .ProgressStep__border {
	display: none;
}

/* Not yet finished steps should have more discreet connection line */
.Progress__item--sibling-incomplete .ProgressStep__border {
	width: 1px;
	background-color: var(--color-progress--inactive);
}

/* Element representing each step in the progress bar */
.ProgressStep {
	position: relative;
	margin-bottom: 1rem;
	line-height: 1;
}

/* Graphical content with border and ring */
.ProgressStep__graphic {
	position: absolute;
	top: 0.15rem;
	left: -3rem;

	height: 100%;
}

/* Line connecting the rings */
.ProgressStep__border {
	position: absolute;
	top: 0.5rem;

	width: 3px;
	height: calc(100% + 1rem);

	background-color: var(--color-progress);

	transform: translateX(-50%);
}

/* The ring representing each step of the form graphically */
.ProgressStep__ring {
	position: absolute;

	width: 1.2rem;
	height: 1.2rem;
	border: 4px solid var(--color-progress);
	border-radius: 50%;

	background-color: #fff;

	transform: translateX(-50%);
}

/* Inactive steps are visually more discreet */
.ProgressStep--incomplete .ProgressStep__ring {
	top: 0.2rem;

	width: 0.8rem;
	height: 0.8rem;
	border: 0 solid transparent;

	background-color: var(--color-progress--inactive);
}

/* Completed steps receive progress color */
.ProgressStep--complete .ProgressStep__ring {
	top: 0.2rem;

	width: 0.8rem;
	height: 0.8rem;
	border: 0 solid transparent;

	background-color: #08128b;
}

/* General styles for navigation buttons */
.Progress__button {
	padding: 0;
	border: none;
	margin: 0 0 0 -1rem;

	background-color: transparent;

	font-family: inherit;
	font-size: 1.25rem;

	text-decoration-color: transparent;
}

/* Active and successful steps */
button.Progress__button {
	color: var(--color-progress);
	cursor: pointer;
}

/* Future steps are not yet available (divs instead of buttons) */
div.Progress__button {
	color: var(--color-progress--inactive);
}
