<f:comment><!--

    @param GenericFormElement element          Form element

--></f:comment>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{element}">
        <f:form.validationResults for="{element.identifier}">
            <f:variable name="additionalAttributes"
                        value="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"/>
            <f:if condition="{element.required}">
                <f:variable name="additionalAttributes"
                            value="{twforms:collection.merge(a: additionalAttributes, b: {required: 'required', aria-required: 'true'})}"/>
            </f:if>
            <f:if condition="{validationResults.flattenedErrors}">
                <f:variable name="additionalAttributes"
                            value="{twforms:collection.merge(a: additionalAttributes, b: {aria-invalid: 'true', aria-describedby: '{element.uniqueIdentifier}-error'})}"/>
            </f:if>
            <f:render partial="Field/Field" arguments="{element: element}"
                      contentAs="elementContent">
                <f:form.password
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        class="{element.properties.elementClassAttribute}"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        additionalAttributes="{additionalAttributes}"
                />
            </f:render>
        </f:form.validationResults>
    </formvh:renderRenderable>
</html>
