<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{element}">
        <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
            <f:variable name="additionalAttributes" value="{twforms:form.field.additionalAttributes(element: element, validationResults: validationResults)}" />
            <f:switch expression="{element.identifier}">
                <f:case value="name">
                    <f:variable name="additionalAttributes" value="{twforms:collection.merge(a: '{additionalAttributes}', b: '{autocomplete: \'name\'}')}" />
                </f:case>
                <f:case value="title">
                    <f:variable name="additionalAttributes" value="{twforms:collection.merge(a: '{additionalAttributes}', b: '{autocomplete: \'honorific-prefix\'}')}" />
                </f:case>
                <f:case value="telefon">
                    <f:variable name="additionalAttributes" value="{twforms:collection.merge(a: '{additionalAttributes}', b: '{autocomplete: \'tel\'}')}" />
                </f:case>
                <f:defaultCase>

                </f:defaultCase>
            </f:switch>
            <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
                <f:form.textfield
                        type="tel"
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        class="{element.properties.elementClassAttribute} FormField__input FormPhone form-control"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                />
            </f:render>
        </f:form.validationResults>
    </formvh:renderRenderable>
</html>

