<f:comment><!--

    Render a text input element

    @param GenericFormElement element          Form element

--></f:comment>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:twforms="http://typo3.org/ns/Tollwerk/TwForms/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{element}">
        <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
            <f:variable name="additionalAttributes"
                        value="{twforms:form.field.additionalAttributes(element: element, validationResults: validationResults)}" />
            <f:render partial="Field/Field"
                      arguments="{element: element}"
                      contentAs="elementContent">
                <twforms:form.textfield
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        dontPrefixName="{element.renderingOptions.dontPrefixName}"
                        class="{element.properties.elementClassAttribute}"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        additionalAttributes="{additionalAttributes}"/>
            </f:render>
        </f:form.validationResults>
    </formvh:renderRenderable>
</html>
