<f:comment><!--

    Render a multi-step form status

	@param FormRuntime form         Form
	@param Page page                Current page

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <nav class="Form__status FormStatus"
         aria-labelledby="form-steps-{form.identifier}">
        <h2 class="FormStatus__heading"
            id="form-steps-{form.identifier}">
            {f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.steps')}
        </h2>

        <f:comment><!--If there's a next page: Place a submit button as first button in the form to enable implicit form submission --></f:comment>
        <f:if condition="{form.nextPage}">
            <f:form.button value="{form.nextPage.index}"
                           property="__currentPage"
                           type="submit"
                           tabindex="-1"
                           class="hide-element">
                {f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:element.Page.renderingOptions.nextButtonLabel')}
            </f:form.button>
        </f:if>

        <ol class="Form__status-items">
            <f:for each="{form.pages}" as="statusPage" iteration="i">
                <f:variable name="pageCompleted"
                            value="{twforms:form.elementValue(form: form, identifier: '{statusPage.identifier}-complete')}"/>
                <f:variable name="pageCurrent"
                            value="{f:if(condition: '{statusPage.identifier} == {page.identifier}', then: 1, else: 0)}"/>
                <f:variable name="label"
                            value="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:page.{statusPage.identifier}.properties.label')}"/>
                <li class="FormStatus__page{f:if(condition: pageCompleted, then: ' FormStatus__page--complete')}{f:if(condition: pageCurrent, then: ' FormStatus__page--current')}">
                    <f:if condition="{pageCurrent}">
                        <f:then>
                            <a class="FormStatus__page-link" href="#{form.identifier}-{statusPage.identifier}" aria-current="step">{label}</a>
                        </f:then>
                        <f:else if="{pageCompleted}">
                            <f:form.button value="{i.index}"
                                           property="__currentPage"
                                           type="submit"
                                           class="FormStatus__page-link"
                                           formnovalidate="formnovalidate">{label}
                                {f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.complete')}
                            </f:form.button>
                        </f:else>
                        <f:else>
                            <a>{label}</a>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ol>
    </nav>
</html>
