<f:comment><!--

    Render an error summary (only if form uses custom validation)

    @param FormRuntime form         Form

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:twforms="http://typo3.org/ns/Tollwerk/TwForms/ViewHelpers"
      data-namespace-typo3-fluid="true">

        <f:if condition="{form.formDefinition.renderingOptions.novalidate}">
            <f:form.validationResults>
                <f:if condition="{validationResults.flattenedErrors}">
                    <f:then>
                        <f:render section="ErrorSummary"
                                  arguments="{form: form, validationResults: validationResults}"/>
                    </f:then>
                    <f:else>
                        <twforms:script.write excludeTypes="2800">
                            <f:render section="ErrorSummary"
                                      arguments="{form: form, validationResults: validationResults, hidden: 1}"/>
                        </twforms:script.write>
                    </f:else>
                </f:if>
            </f:form.validationResults>
        </f:if>

    <f:comment><!--

        Render the error summary

        @param FormRuntime form             Form
        @param array validationResults      Validation results
        @param bool hidden                  Hidden

    --></f:comment>
    <f:section name="ErrorSummary">
        <f:variable name="pattern"
                    value="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.title.errors')}"/>
        <f:variable name="count" value="{f:count(subject: validationResults.flattenedErrors)}"/>
        <f:variable name="title" value="{twforms:form.title(form: form, pattern: pattern, errors: count)}"/>

        <nav class="Form__error-navigation" aria-label="{f:translate(key: 'LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.nav.errors')}" tabindex="-1"
             data-title-errors="{title.pattern}" data-title="{title.default} | tollwerk"
             {f:if(condition: hidden, then: ' hidden')}>
            <f:variable name="headingKeySingle"
                        value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.error"/>
            <f:variable name="headingKeyMultiple"
                        value="LLL:EXT:tw_forms/Resources/Private/Language/locallang_forms.xlf:form.errors"/>
            <f:variable name="headingContent" value="{f:if(condition: '{count} == 1', then: '{f:translate(key: headingKeySingle)}', else: '{f:translate(key: headingKeyMultiple, arguments: \'{0: count}\')}')}"/>
        <div class="Form__error-navigation__content">

            <h2 id="{form.identifier}-errors"
                  data-heading-single="{f:translate(key: headingKeySingle)}"
                  data-heading-multiple="{f:translate(key: headingKeyMultiple)}">
                {headingContent}
            </h2>
            <ol class="Form__error-summary">
                <f:for each="{validationResults.flattenedErrors}" as="propertyErrors" key="elementIdentifier">
                    <f:variable name="element"
                                value="{twforms:form.element(form: form, element: elementIdentifier)}"/>
                    <li class="Form__error-description">
                        <a href="#{element.uniqueIdentifier}" class="Form__error-link">
                            <f:for each="{twforms:form.constraints(errors: propertyErrors, validationErrorMessages: element.properties.validationErrorMessages)}" as="constraint"
                                   iteration="iter">
                                <f:if condition="{iter.isFirst}">
                                    <f:else>;</f:else>
                                </f:if>
                                {formvh:translateElementError(element: element, error: constraint)}
                            </f:for>
                        </a>
                    </li>
                </f:for>
            </ol>
        </div>
        </nav>
    </f:section>
</html>
